<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiye Technologies</title>
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon.ico"/>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap files -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="./images/logo.png" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item active" href="#home">Home</a>
            <a class="nav-item" href="#about">About</a>
            <a class="nav-item" href="#services">Services</a>
            <a class="nav-item" href="#portfolio">Portfolio</a>
            <button class="btn float-end"><a href="#contact">Contact</a></button>
          </div>
        </div>
      </div>
    </nav>

    <!--- home --->
    <div class="home" id="home">

      <div class="container">
        <div class="row">
          <div class="home-sec">
            <h1>Hello <i class="fa fa-smile-o"></i>, welcome to</h1>
            <p><img src="./images/logo.png"/></p>
            <p><h3>A custom software company_</h3></p>
            <p>
              <div class="slogan cd-headline clip is-full-width">
                <span>We help you build </span>
                <span class="cd-words-wrapper">
                  <b class="is-visible"
                    >an Android App
                    <i class="fa fa-android" aria-hidden="true"></i
                  ></b>
                  <b>an IOS App <i class="fa fa-apple" aria-hidden="true"></i></b>
                  <b>a Website <i class="fa fa-code" aria-hidden="true"></i></b>
                </span>
              </div>
              <a class="button button-float" href="#about">read more <i class="fa fa-angle-down"></i></a>
            </p>
          </div>
        </div>
      </div>
      <!-- social links -->
      <div class="social-bar">
        <div class="youtube-bar">
          <a href="https://www.youtube.com/channel/UCgZn4bJAW2YHYk-hgBPZDGg"
            ><i class="fa fa-youtube-play" aria-hidden="true"></i> tiyeCode</a
          >
        </div>
        <div class="whatsapp-bar">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <span>+27 68 037 0933</span>
        </div>
      </div>
      <!--- background svg --->
      <svg id="curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#eff0f2"
          fill-opacity="1"
          d="M0,192L80,197.3C160,203,320,213,480,208C640,203,800,181,960,176C1120,171,1280,181,1360,186.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- about us -->
    <div class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>About us</h1>
          </div>
          <div class="col-lg-6">
            <h3>HELLO, WE ARE TIYE TECHNOLOGIES</h3>
            <i class="fas fa-smile"></i>
            <p>
              <span class="about-tags">Design</span>
              <span class="about-tags">Develop</span>
              <span class="about-tags">Host</span>
            </p>
            <p class="about-description">
              We are a custom software development company, providing a complete
              software design and development service. We help individuals or
              companies to bring their software ideas to life.
            </p>

            <p class="about-quote">
              <i
                class="fa fa-quote-left fa-3x fa-pull-left fa-border"
                aria-hidden="true"
              ></i>
              Ideas are the currency of the future. ― Kevin Roberts
              <i
                class="fa fa-quote-right fa-3x fa-pull-right fa-border"
                aria-hidden="true"
              ></i>
            </p>
          </div>
          <div class="col-lg-6 d-none d-sm-block">
            <div class="about-image"><img src="./images/home-bg.png" /></div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ccd8e2"
          fill-opacity="1"
          d="M0,192L80,208C160,224,320,256,480,261.3C640,267,800,245,960,245.3C1120,245,1280,267,1360,277.3L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- services -->
    <div class="services" id="services">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Services</h1>
          </div>
          <div class="col-12 col-md-6 col-sm-4 col-lg-3">
            <div class="service-item">
              <i
                style="color: #a4c639"
                class="fa fa-android"
                aria-hidden="true"
              ></i>
              <h3>Android App</h3>
              <!--<a class="price">From R15 000</a>-->
            </div>
          </div>
          <div class="col-12 col-md-6 col-sm-4 col-lg-3">
            <div class="service-item">
              <i
                style="color: #808080"
                class="fa fa-apple"
                aria-hidden="true"
              ></i>
              <h3>iOS App</h3>
              <!--<a class="price">From R15 000</a>-->
            </div>
          </div>
          <div class="col-12 col-md-6 col-sm-4 col-lg-3">
            <div class="service-item">
              <i
                style="color: #ff8b74"
                class="fa fa-html5"
                aria-hidden="true"
              ></i>
              <h3>Website</h3>
              <!--<a class="price">From R2 000</a>-->
            </div>
          </div>
          <div class="col-12 col-md-6 col-sm-4 col-lg-3">
            <div class="service-item">
              <i
                style="color: #8aaae5"
                class="fa fa-code"
                aria-hidden="true"
              ></i>
              <h3>Desktop software</h3>
              <!--<a class="price">From R4 500</a>-->
            </div>
          </div>
          <div class="col-12">
            <h3 style="margin: 20px 0;">Technologies we use</h3>
          </div>
            <div class="tech-items">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/react.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/flutter.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img style="width: 60px;" src="./images/CSS3.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img style="width: 60px;" src="./images/html5.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/js.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/python.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/php.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img style="width: 50px;" src="./images/java.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/kotlin.svg"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 tech-item">
                  <img src="./images/swift.svg"/>
                </div>
              </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#eff0f2"
            fill-opacity="1"
            d="M0,192L80,197.3C160,203,320,213,480,208C640,203,800,181,960,176C1120,171,1280,181,1360,186.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
          ></path>
        </svg>
      </div>
    </div>

    <!-- portfolio -->
    <div class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Portfolio</h1>
          </div>
          <div class="col-12">
            <!----
            <div class="btn-section">
              <ul class="portfolio-btns">
                <li>
                  <a href="#" data-filter="*" class="selected">show all</a>
                </li>
                <li><a href="#" data-filter=".apps">Mobile Apps</a></li>
                <li><a href="#" data-filter=".websites">Websites</a></li>
                <li><a href="#" data-filter=".systems">Systems</a></li>
              </ul>
            </div> -->
            <div class="img-section">
              <div class="img-box-wrapper clearfix">
                <div class="row justify-content-center">
                  <div
                    class="img-box websites col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="http://www.olroundtech.co.za"
                      ><img
                        src="./images/web-1.PNG"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div
                    class="img-box websites col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="http://www.tmgmakerspace.co.za"
                      ><img
                        src="./images/web-2.PNG"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div
                    class="img-box websites col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="http://www.biztweak.co.za"
                      ><img
                        src="./images/web-3.PNG"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div
                    class="img-box apps col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="#"
                      ><img
                        src="./images/app-1.png"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div
                    class="img-box systems col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="#"
                      ><img
                        src="./images/system-1.png"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                  <div
                    class="img-box systems col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3"
                  >
                    <a href="#"
                      ><img
                        src="./images/system-2.png"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ccd8e2"
          fill-opacity="1"
          d="M0,192L80,197.3C160,203,320,213,480,208C640,203,800,181,960,176C1120,171,1280,181,1360,186.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- contact us -->
    <div class="contact" id="contact">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Contact us</h1>
          </div>
          <div class="col-md-6">
            <h2>tiye { technologies }</h2>
            <p>/creating the future now_</p>
            <div class="social-links">
              <a style="background-color: #25d366" href="#+27 68 037 0933">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
              <a style="background-color: #4267b2" href="https://www.facebook.com/pg/TiyeTechnologies/about/">
                <i class="fa fa-facebook-f"></i>
              </a>
              <a style="background-color: #1da1f2" href="https://twitter.com/tiye_tech">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a style="background-color: #f56040" href="https://www.instagram.com/tiye.technologies/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a style="background-color: #ff0000" href="https://www.youtube.com/channel/UCrJ616OE4F_u1CKqvBKIMqA">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="contact-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </td>
                  <td><h5>41 Juta Street, Johannesburg, Gauteng, ZA</h5></td>
                </tr>
                <tr>
                  <td class="contact-icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </td>
                  <td><h5>info@tiye.co.za</h5></td>
                </tr>
                <tr>
                  <td class="contact-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </td>
                  <td><h5>+27 61 958 0694</h5></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#8aaae5"
          fill-opacity="1"
          d="M0,288L80,272C160,256,320,224,480,224C640,224,800,256,960,256C1120,256,1280,224,1360,208L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 footer-links">
            <a href="#"
              ><img width="60px" src="./images/system-2.png" /> Nandi bot</a
            >
          </div>
          <div class="col-lg-4 col-sm-6 footer-links">
            <a href="#"
              ><img width="55px" src="./images/system-1.png" /> Covid-19
              Monitor</a
            >
          </div>
          <div class="col-12 text-center">
            <p>
              <hr/>
              &copy <span class="current-year">2021, TIYE TECHNOLOGIES (PTY) LTD</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="js/headline.js"></script>
    <script src="./js/scroll.js"></script>
  </body>
</html>
