/**************************** about us *****************************/
.about {
    height: 650px;
    background-color: #eff0f2;
    position: relative;
  }
  .about-description {
    font-size: 1.4rem;
    color: #808080;
  }
  .about-image {
    width: 100%;
    height: 100%;
    padding: 0 10%;
  }
  .about-image img {
    width: 480px;
  }
  .about-tags {
    color: #fff;
    background-color: #ff8b74;
    padding: 2px;
    border-radius: 2px;
    margin-right: 15px;
    font-size: 1.2rem;
  }
  .about-quote {
    color: #808080;
    font-size: 1rem;
  }
  .about svg {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
  }
  